#AuthView {
    width: 1080px;
    height: 720px;
    max-height: 720px;
    max-width: 1080px;
    min-height: 720px;
    min-width: 1080px;
    -fx-pref-height: 720px;
    -fx-pref-width: 1080px;
    -fx-background-color: #F1E9DB;
    -fx-alignment: CENTER;
}

#SignInForm {
    -fx-pref-width: 500px;
    -fx-pref-height: 100%;
    -fx-alignment: CENTER;
    -fx-spacing: 15px;
}

#SignUpForm {
    -fx-pref-width: 500px;
    -fx-pref-height: 100%;
    -fx-alignment: CENTER;
    -fx-spacing: 15px;
}

.AuthLabel {
    -fx-font-size: 30px;
    -fx-font-weight: 900;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #5DB7DE;
}

.InputLabel {
    -fx-pref-width: 500px;
    -fx-padding: 30px 0px 0px 50px;
    -fx-font-size: 20px;
    -fx-font-weight: 900;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #808080;
}

.InputTextField {
    -fx-font-size: 20px;
    -fx-font-weight: 800;
    -fx-max-width: 400px;
    -fx-border-width: 0px;
    -fx-background-color: #fff;
    -fx-text-fill: #5DB7DE;
}

.InputTextField:focused {
    -fx-background-color: #808080;
    -fx-text-fill: #F1E9DB;
}

.AuthButton {
    -fx-background-color: #A39B8B;
    -fx-font-size: 20px;
    -fx-font-weight: 900;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #fff;
    -fx-background-radius: 9px;
    -fx-pref-height: 52px;
    -fx-pref-width: 187px;
}

.AuthButton:hover {
    -fx-background-color: #808080;
    -fx-text-fill: #F1E9DB;
}

.AuthButton:pressed {
    -fx-background-color: #3590F3;
    -fx-text-fill: #F1E9DB;
}

#AlertView {
    -fx-pref-width: 600px;
    -fx-pref-height: 400px;
    -fx-background-color: #fff;
    -fx-spacing: 20px;
    -fx-alignment: CENTER;
}

#AlertDescription {
    -fx-text-alignment: CENTER;
    -fx-font-size: 20px;
    -fx-font-weight: 900;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #ff0000;
}

#MenuView {
    -fx-spacing: 20px;
    -fx-pref-height: 720px;
    -fx-pref-width: 1080px;
    -fx-background-color: #F1E9DB;
    -fx-alignment: CENTER;
}

#MenuTitle {
    -fx-font-size: 60px;
    -fx-font-weight: 900;
    -fx-text-fill: #5DB7DE;
    -fx-font-family: "Segoe UI";
    -fx-padding: 20px 0px 0px 0px;
}

.MenuButton {
    -fx-background-color: #A39B8B;
    -fx-font-size: 20px;
    -fx-font-weight: 900;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #fff;
    -fx-background-radius: 9px;
    -fx-pref-height: 52px;
    -fx-pref-width: 187px;
}

.MenuButton:hover {
    -fx-background-color: #808080;
    -fx-text-fill: #F1E9DB;
}

.MenuButton:pressed {
    -fx-background-color: #3590F3;
    -fx-text-fill: #F1E9DB;
}

#RatingView {
    max-height: 720px;
    max-width: 1080px;
    min-height: 720px;
    min-width: 1080px;
    -fx-pref-height: 720px;
    -fx-pref-width: 1080px;
    -fx-background-color: #F1E9DB;
    -fx-alignment: CENTER;
    -fx-spacing: 15px;
}

#RatingList {
    -fx-pref-height: 500px;
    -fx-pref-width: 700px;
    -fx-max-width: 700px;
    -fx-alignment: CENTER;
}

#RatingTitle {
    -fx-font-size: 60px;
    -fx-font-weight: 900;
    -fx-text-fill: #5DB7DE;
    -fx-font-family: "Segoe UI";
    -fx-padding: 20px 0px 0px 0px;
}

#RatingPane {
    /*-fx-pref-width: 700px;*/
    /*-fx-max-width: 700px;*/
    -fx-alignment: CENTER;
    -fx-padding: 0px 400px;
}